@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  header .logo {
    margin-left: 0;
  }

  .button {
    margin-top: 8px;
    width: 220px;
  }
  .button + .button {
    margin-left: 0;
  }

  .main-movie {
    background-position-x: 30%;
  }

  .main-movie .description {
    margin-bottom: 10px;
  }

  .container nav {
    margin-bottom: 5px;
  }
  .container nav a {
    font-size: 16px;
  }

  .desc2 {
    display: none;
  }
  
}

@media screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }
}