@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
  --mainRed: #E50914; 
  --black: #141414;
  --lightGray: #AAA;
  --lighterGray: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  font-family: Helvetica, sans-serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 20px;
  color: var(--mainRed);
  font-family: 'Bebas Neue', 'Arial Black';
  font-size: 46px;
  letter-spacing: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;    
}

header nav a {
  margin-right: 16px;
  text-decoration: none;
  color: var(--lightGray);
  transition: color 0.2s;
  font-size: 18px;
}
header nav a:hover {
  color: var(--lighterGray);
}

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)100%), url('../img/mainRaM.jpg');;
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main-movie .title {
  margin-top: 5%;
  font-size: 50px;
}
.main-movie .description {
  margin-bottom: 40px;
}

.button {
  border:none;
  outline: none;
  font-weight: bold;
  padding: 14px 28px;
  font-size: 15px;
  border-radius: 5px;
  transition: background-color 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(197, 197, 197);
}
.button + .button {
  background-color: #4f4d4e;
  color: white;
  margin-left: 15px;
}
.button + .button:hover {
  background-color: #444444;
}
.button i {
  margin-right: 5px;
}

.container {
  margin-left: 20px;
}
.main-movie .container {
  width: 70%;
}

.movie-carousel {
  margin-top: 5px;
}
.movie-box {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid transparent;
  transition: border 0.3s;
}
.movie-box:hover {
  border: 2px solid white;
  cursor: pointer;
}